
/* colors */
$backgroundGrey: #eee;
$textBlack: #333;
$hoverTextBlack: #000;
$grey: #666;
$lightGrey: rgba(0,0,0,.45);
$green: #00a650;
$yellow: #fff159;
$placeholderGrey: rgba(0, 0, 0, 0.2);
$blue: rgb(52, 131, 250);
$orange: #dc7b1c;


/* font-sizes */
$font1: 44px;
$font2: 36px;
$font3: 26px;
$font4: 24px;
$font5: 22px;
$font6: 20px;
$font7: 18px;
$font8: 16px;
$font9: 14px;
$font10: 12px;

/* font-weights */
$weight1: 400;
$weight2: 300;

/* breakpoints */
$bp-mobile: 425px;
$bp-tablet: 768px;
$bp-laptop: 1024px;
$bp-desktop: 1440px;