
@import './../../styles/variables.scss';

.cartNotification{
  margin-left: 12px;
  
  span{
    position: absolute;
    background: $red;
    width: 18px;
    height: 18px;
    text-align: center;
    color: white;
    border-radius: 100%;
  }
}
